<?xml version="1.0"?>
<config>
  <modules>
    <Wsu_Mailingservices>
      <version>1.0.0</version>
    </Wsu_Mailingservices>
  </modules>
  <frontend>
    <routers>
      <wsu_mailingservices>
        <use>standard</use>
        <args>
          <module>Wsu_Mailingservices</module>
          <frontName>wsu_mailingservices</frontName>
        </args>
      </wsu_mailingservices>
    </routers>
        <layout>
            <updates>
                <wsu_mailingservices>
                    <file>wsu_mailingservices.xml</file>
                </wsu_mailingservices>
            </updates>
        </layout>
  </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wsu_Mailingservices before="Mage_Adminhtml">Wsu_Mailingservices_Adminhtml</Wsu_Mailingservices>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
  <global>
    <helpers>
      <wsu_mailingservices>
        <class>Wsu_Mailingservices_Helper</class>
      </wsu_mailingservices>
    </helpers>
    <blocks>
      <wsu_mailingservices>
        <class>Wsu_Mailingservices_Block</class>
      </wsu_mailingservices>
    </blocks>
    <models>
      <wsu_mailingservices>
        <class>Wsu_Mailingservices_Model</class>
        <resourceModel>wsu_mailingservices_resource</resourceModel>
      </wsu_mailingservices>
      <wsu_mailingservices_resource>
        <class>Wsu_Mailingservices_Model_Resource</class>
        <entities>
          <log>
            <table>wsu_mailingservices_email_log</table>
          </log>
        </entities>
      </wsu_mailingservices_resource>
      <newsletter>
        <rewrite>
          <template>Wsu_Mailingservices_Model_Newsletter_Template</template>
        </rewrite>
      </newsletter>
      <core>
        <rewrite>
          <email>Wsu_Mailingservices_Model_Email</email>
          <email_template>Wsu_Mailingservices_Model_Email_Template</email_template>
        </rewrite>
      </core>
    </models>
    <resources>
      <wsu_mailingservices_setup>
        <setup>
          <module>Wsu_Mailingservices</module>
        </setup>
      </wsu_mailingservices_setup>
    </resources>
    <events>
      <mailingservices_email_after_send>
        <observers>
          <mailingservices_email_after_send_observer>
            <type>singleton</type>
            <class>wsu_mailingservices/observer</class>
            <method>log</method>
          </mailingservices_email_after_send_observer>
        </observers>
      </mailingservices_email_after_send>
            <wsu_mailingservices_render_email_before>
                <observers>
                    <wsu_mailingservices_sendfriend_email>
                        <class>wsu_mailingservices/mail_type_sendfriend</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_sendfriend_email>
                    <wsu_mailingservices_newsletter_email>
                        <class>wsu_mailingservices/mail_type_newsletter</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_newsletter_email>
                    <wsu_mailingservices_sales_order_email>
                        <class>wsu_mailingservices/mail_type_sales_orderEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_sales_order_email>
                    <wsu_mailingservices_sales_invoice_email>
                        <class>wsu_mailingservices/mail_type_sales_invoiceEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_sales_invoice_email>
                    <wsu_mailingservices_sales_creditmemo_email>
                        <class>wsu_mailingservices/mail_type_sales_creditmemoEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_sales_creditmemo_email>
                    <wsu_mailingservices_sales_shipment_email>
                        <class>wsu_mailingservices/mail_type_sales_shipmentEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_sales_shipment_email>
                    <wsu_mailingservices_password_email>
                        <class>wsu_mailingservices/mail_type_passwordEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_password_email>
                    <wsu_mailingservices_account_email>
                        <class>wsu_mailingservices/mail_type_accountEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_account_email>
                    <wsu_mailingservices_token_status_change_email>
                        <class>wsu_mailingservices/mail_type_tokenStatusChangeEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_token_status_change_email>
                    <wsu_mailingservices_sitemap_generate_warnings_email>
                        <class>wsu_mailingservices/mail_type_sitemapGenerateWarningsEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_sitemap_generate_warnings_email>
                    <wsu_mailingservices_share_wishlist_email>
                        <class>wsu_mailingservices/mail_type_shareWishlistEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_share_wishlist_email>
                    <wsu_mailingservices_product_price_alert_email>
                        <class>wsu_mailingservices/mail_type_productAlert_priceEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_product_price_alert_email>
                    <wsu_mailingservices_product_stock_alert_email>
                        <class>wsu_mailingservices/mail_type_productAlert_stockEmail</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_product_stock_alert_email>
                    <wsu_mailingservices_rma_email>
                        <class>wsu_mailingservices/mail_type_rmaNew</class>
                        <method>mailingservicesEmailpreviewRenderEmailBefore</method>
                    </wsu_mailingservices_rma_email>
                </observers>
            </wsu_mailingservices_render_email_before>
    </events>
    <email>
        <testtypes>
            <sendfriend>
                <name>Send product to a friend</name>
                <type>test_sendfriend_email_template</type>
            </sendfriend>
            <newsletter_confirm>
                <name>Confirm newsletter</name>
                <type>test_newsleter_subscribe_email_template</type>
            </newsletter_confirm>
            <newsletter_subscribe_success>
                <name>Newsletter subscribe success</name>
                <type>test_newsletter_subscribe_success_email_template</type>
            </newsletter_subscribe_success>
            <newsletter_unsubscribe_success>
                <name>Newsletter unsubscribe success</name>
                <type>test_newsletter_unsubscribe_success_email_template</type>
            </newsletter_unsubscribe_success>
            <sales_order_new>
                <name>New order</name>
                <type>test_sales_order_email_template</type>
            </sales_order_new>
            <sales_order_update>
                <name>Update order</name>
                <type>test_sales_order_update_email_template</type>
            </sales_order_update>
            <sales_invoice_new>
                <name>New invoice</name>
                <type>test_sales_order_invoice_email_template</type>
            </sales_invoice_new>
            <sales_invoice_update>
                <name>Update invoice</name>
                <type>test_sales_order_invoice_update_email_template</type>
            </sales_invoice_update>
            <sales_shipment_new>
                <name>New shipment</name>
                <type>test_sales_order_shipment_email_template</type>
            </sales_shipment_new>
            <sales_shipment_update>
                <name>Update shipment</name>
                <type>test_sales_order_shipment_update_email_template</type>
            </sales_shipment_update>
            <sales_creditmemo_new>
                <name>New creditmemo</name>
                <type>test_sales_order_creditmemo_email_template</type>
            </sales_creditmemo_new>
            <sales_creditmemo_update>
                <name>Update creditmemo</name>
                <type>test_sales_order_creditmemo_update_email_template</type>
            </sales_creditmemo_update>
            <account_new>
                <name>New account</name>
                <type>test_new_account_email_template</type>
            </account_new>
            <account_confirmation_key>
                <name>Account confirmation key</name>
                <type>test_new_account_confirmation_key_email_template</type>
            </account_confirmation_key>
            <account_confirmed>
                <name>Account confirmed</name>
                <type>test_new_account_confirmed_email_template</type>
            </account_confirmed>
            <password_forgot>
                <name>Forgot password</name>
                <type>test_forgot_password_email_template</type>
            </password_forgot>
            <password_remind>
                <name>Password reminder</name>
                <type>test_remind_password_email_template</type>
            </password_remind>
            <wishlist_share>
                <name>Share wishlist</name>
                <type>test_share_wishlist_email_template</type>
            </wishlist_share>
            <sitemap_generate_warnings>
                <name>Sitemap generate warnings</name>
                <type>test_sitemap_generate_warnings_email_template</type>
            </sitemap_generate_warnings>
            <token_status_change>
                <name>Token status change</name>
                <type>test_token_status_change_email_template</type>
            </token_status_change>
            <rma_new>
                <name>New RMA Request</name>
                <type>test_rma_new_email_template</type>
            </rma_new>
            <rma_auth>
                <name>RMA Request Authorization</name>
                <type>test_rma_auth_email_template</type>
            </rma_auth>
        </testtypes>
    </email>
  </global>
  <adminhtml>
      <layout>
        <updates>
          <wsu_mailingservices>
            <file>wsu_mailingservices.xml</file>
          </wsu_mailingservices>
        </updates>
      </layout>
    <menu>
      <system>
        <children>
          <tools>
            <children>
              <wsu_mailingservices translate="title" module="wsu_mailingservices">
                <title>Email Log</title>
                <action>wsu_mailingservices/log</action>
              </wsu_mailingservices>
            </children>
          </tools>
        </children>
      </system>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <mailingservices>
                      <title>SMTP Settings</title>
                    </mailingservices>
                    <wsu_mailingservices translate="title" module="wsu_mailingservices">
                      <title>Review Reminder</title>
                      <sort_order>110</sort_order>
                    </wsu_mailingservices>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <translate>
      <modules>
        <Wsu_Mailingservices>
          <files>
            <default>Wsu_Mailingservices.csv</default>
          </files>
        </Wsu_Mailingservices>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <wsu_mailingservices>
      <settings>
        <enabled>0</enabled>
        <store_addresses>0</store_addresses>
        <username></username>
        <password></password>
      </settings>
    </wsu_mailingservices>
	<smtp>
		<mailingservices>
			<store_addresses>0</store_addresses>
			<from_address>jeremy.bass@wsu.edu</from_address>
		</mailingservices>
	</smtp>
  </default>
  <!--<crontab>
    <jobs>
      <reviewreminder_mail_send>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>wsu_mailingservices/reviewreminder::sendReviewLinkEmail</model>
        </run>
      </reviewreminder_mail_send>
    </jobs>
  </crontab>-->
</config>
