<?xml version="1.0"?>
<config>
  <modules>
    <Wsu_Mailingservices>
      <version>1.0.0</version>
    </Wsu_Mailingservices>
  </modules>
  <frontend>
    <routers>
      <wsu_mailingservices>
        <use>standard</use>
        <args>
          <module>Wsu_Mailingservices</module>
          <frontName>wsu_mailingservices</frontName>
        </args>
      </wsu_mailingservices>
    </routers>
  </frontend>
  <global>
    <helpers>
      <wsu_mailingservices>
        <class>Wsu_Mailingservices_Helper</class>
      </wsu_mailingservices>
    </helpers>
    <blocks>
      <wsu_mailingservices>
        <class>Wsu_Mailingservices_Block</class>
      </wsu_mailingservices>
    </blocks>
    <models>
      <wsu_mailingservices>
        <class>Wsu_Mailingservices_Model</class>
        <resourceModel>wsu_mailingservices_resource</resourceModel>
      </wsu_mailingservices>
      <wsu_mailingservices_resource>
        <class>Wsu_Mailingservices_Model_Resource</class>
        <entities>
          <log>
            <table>wsu_mailingservices_email_log</table>
          </log>
        </entities>
      </wsu_mailingservices_resource>
      <newsletter>
        <rewrite>
          <template>Wsu_Mailingservices_Model_Newsletter_Template</template>
        </rewrite>
      </newsletter>
      <core>
        <rewrite>
          <email>Wsu_Mailingservices_Model_Email</email>
          <email_template>Wsu_Mailingservices_Model_Email_Template</email_template>
        </rewrite>
      </core>
    </models>
    <resources>
      <wsu_mailingservices_setup>
        <setup>
          <module>Wsu_Mailingservices</module>
        </setup>
      </wsu_mailingservices_setup>
    </resources>
    <events>
      <mailingservices_email_after_send>
        <observers>
          <mailingservices_email_after_send_observer>
            <type>singleton</type>
            <class>wsu_mailingservices/observer</class>
            <method>log</method>
          </mailingservices_email_after_send_observer>
        </observers>
      </mailingservices_email_after_send>
    </events>
  </global>
  <adminhtml>
    <menu>
      <system>
        <children>
          <tools>
            <children>
              <wsu_mailingservices translate="title" module="wsu_mailingservices">
                <title>Email Log</title>
                <action>wsu_mailingservices/log</action>
              </wsu_mailingservices>
            </children>
          </tools>
        </children>
      </system>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <mailingservices>
                      <title>SMTP Settings</title>
                    </mailingservices>
                    <wsu_mailingservices translate="title" module="wsu_mailingservices">
                      <title>Review Reminder</title>
                      <sort_order>110</sort_order>
                    </wsu_mailingservices>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <translate>
      <modules>
        <Wsu_Mailingservices>
          <files>
            <default>Wsu_Mailingservices.csv</default>
          </files>
        </Wsu_Mailingservices>
      </modules>
    </translate>
  </adminhtml>
  <default>
    <wsu_mailingservices>
      <settings>
        <enabled>0</enabled>
        <store_addresses>0</store_addresses>
        <username></username>
        <password></password>
      </settings>
    </wsu_mailingservices>
	<smtp>
		<mailingservices>
			<store_addresses>0</store_addresses>
			<from_address>jeremy.bass@wsu.edu</from_address>
		</mailingservices>
	</smtp>
  </default>
  <!--<crontab>
    <jobs>
      <reviewreminder_mail_send>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>wsu_mailingservices/reviewreminder::sendReviewLinkEmail</model>
        </run>
      </reviewreminder_mail_send>
    </jobs>
  </crontab>-->
</config>
